# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Schema actual
NEXT_PUBLIC_DB_SCHEMA=contact_center

# Tenant por defecto
DEFAULT_TENANT_SLUG=default-tenant

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Meta WhatsApp
META_APP_ID=
META_APP_SECRET=
META_VERIFY_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_ACCESS_TOKEN=

# AI
OPENAI_API_KEY=